#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

/* INPUT BAR */

.input-bar-wrapper{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background: white;
  z-index: 10;
}

.input-bar-container{
  padding: 16px;
  border-top: 1px solid #e5e5e5;
  background: #fff;
}

.input-bar{
  display: flex;
  align-items: center;
  border: 1px solid #d0d0d0;
  border-radius: 24px;
  padding: 8px 14px;
  box-shadow: 0px 2ox 5ox rgba(0,0,0,0.6);
  background: #fafafa;
}

.input-bar input{
  flex:1;
  border: none;
  outline: none;
  font-size: 15px;
  background: transparent;
}

.input-bar button{
 border: none;
 background: transparent;
 padding: 6px;
}


/* MESSAGE BUBBLE */


.message-container{
  display: flex;
  padding: 6px 12px;
}

.message{
  text-align: left;
  max-width: 60%;
  padding: 10px 14px;
  border-radius: 16px;
  line-height: 1.4;
  font-size: 15px;
  color: #111;
}

/* CHAT WINDOW */

.chat-window{
  height: calc(100vh - 80px);
  overflow-y: auto;
  padding: 16px;
  background: #ffffff;
}